# 데이터 가져오기

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/baekjiyoon/Desktop/Python-Tutorials-master/Seaborn Tutorial/flights.csv')

## 데이터 크기 확인하기 .shape 속성

In [3]:
df.shape

(271888, 10)

## 데이터 정보 확인하기 .info 속성

In [4]:
df.info

<bound method DataFrame.info of         travelCode  userCode                 from                   to  \
0                0         0          Recife (PE)   Florianopolis (SC)
1                0         0   Florianopolis (SC)          Recife (PE)
2                1         0        Brasilia (DF)   Florianopolis (SC)
3                1         0   Florianopolis (SC)        Brasilia (DF)
4                2         0         Aracaju (SE)        Salvador (BH)
...            ...       ...                  ...                  ...
271883      135941      1339    Campo Grande (MS)   Florianopolis (SC)
271884      135942      1339   Florianopolis (SC)           Natal (RN)
271885      135942      1339           Natal (RN)   Florianopolis (SC)
271886      135943      1339   Florianopolis (SC)  Rio de Janeiro (RJ)
271887      135943      1339  Rio de Janeiro (RJ)   Florianopolis (SC)

        flightType    price  time  distance       agency        date
0       firstClass  1434.38  1.76    676.53  FlyingDrops  09/26/2019
1       firstClass  1292.29  1.76    676.53  FlyingDrops  09/30/2019
2       firstClass  1487.52  1.66    637.56      CloudFy  10/03/2019
3       firstClass  1127.36  1.66    637.56      CloudFy  10/04/2019
4       firstClass  1684.05  2.16    830.86      CloudFy  10/10/2019
...            ...      ...   ...       ...          ...         ...
271883  firstClass  1446.34  1.49    573.81      CloudFy  07/12/2020
271884    economic   726.95  1.84    709.37      CloudFy  07/16/2020
271885    economic   873.07  1.84    709.37      CloudFy  07/20/2020
271886    economic   313.62  1.21    466.30      CloudFy  07/23/2020
271887    economic   533.69  1.21    466.30      CloudFy  07/26/2020

[271888 rows x 10 columns]>

In [5]:
print(df.dtypes)

travelCode      int64
userCode        int64
from           object
to             object
flightType     object
price         float64
time          float64
distance      float64
agency         object
date           object
dtype: object

## 데이터를 갖는 열에 대한 주요 기술 통계정보(평균,표준편차 등등) 을 요약하여 출력  : describe 메소드

In [7]:
df.describe()

,travelCode,userCode,price,time,distance
count,271888.000000,271888.000000,271888.00000,271888.000000,271888.000000
mean,67971.500000,667.505495,957.37503,1.421147,546.955535
std,39243.724665,389.523127,362.31189,0.542541,208.851288
min,0.000000,0.000000,301.51000,0.440000,168.220000
25%,33985.750000,326.000000,672.66000,1.040000,401.660000
50%,67971.500000,659.000000,904.00000,1.460000,562.140000
75%,101957.250000,1011.000000,1222.24000,1.760000,676.530000
max,135943.000000,1339.000000,1754.17000,2.440000,937.770000

### 열에 대한 정보를 알고 싶을 때는 (eg. unique values 가 몇 개인지) -> include='all'

In [8]:
df.describe(include='all')

,travelCode,userCode,from,to,flightType,price,time,distance,agency,date
count,271888.000000,271888.000000,271888,271888,271888,271888.00000,271888.000000,271888.000000,271888,271888
unique,NaN,NaN,9,9,3,NaN,NaN,NaN,3,999
top,NaN,NaN,Florianopolis (SC),Florianopolis (SC),firstClass,NaN,NaN,NaN,Rainbow,09/26/2019
freq,NaN,NaN,57317,57317,116418,NaN,NaN,NaN,116752,1335
mean,67971.500000,667.505495,NaN,NaN,NaN,957.37503,1.421147,546.955535,NaN,NaN
std,39243.724665,389.523127,NaN,NaN,NaN,362.31189,0.542541,208.851288,NaN,NaN
min,0.000000,0.000000,NaN,NaN,NaN,301.51000,0.440000,168.220000,NaN,NaN
25%,33985.750000,326.000000,NaN,NaN,NaN,672.66000,1.040000,401.660000,NaN,NaN
50%,67971.500000,659.000000,NaN,NaN,NaN,904.00000,1.460000,562.140000,NaN,NaN
75%,101957.250000,1011.000000,NaN,NaN,NaN,1222.24000,1.760000,676.530000,NaN,NaN
max,135943.000000,1339.000000,NaN,NaN,NaN,1754.17000,2.440000,937.770000,NaN,NaN

## count 메소드 : 각 열의 갯수 출력

In [9]:
df.count()

travelCode    271888
userCode      271888
from          271888
to            271888
flightType    271888
price         271888
time          271888
distance      271888
agency        271888
date          271888
dtype: int64

## value_counts 메소드 : 각 열의 unique values 갯수 출력

In [11]:
df['agency'].value_counts()

Rainbow        116752
CloudFy        116378
FlyingDrops     38758
Name: agency, dtype: int64

## std 메소드 : 표준편차 출력

In [12]:
df['distance'].std()

208.8512881231683

In [13]:
df['price'].std()

362.3118899565695

## corr 메소드 : 상관계수 출력 df[열 이름의 리스트].corr()

In [14]:
df[['distance','price']].corr()

          distance     price
distance  1.000000  0.641915
price     0.641915  1.000000

# 판다스는 matplotlib 의 일부 기능을 내장하고 있다고 한다 띠용

## 하지만 seaborn 을 쓸껀데 굳이..? pandas 로 ? 라는 생각이 들어서 공부하지 않았다 =_=